<!-- <app-diagram style="height: 100%;width: 100%;"></app-diagram> -->
<div class="diagram-parent" >
    <diagram [url]="diagramUrl" (importDone)="handleImported($event)"  ></diagram>

</div>
<div class="modeler-class">
    <div class="import-error" *ngIf="importError">
        <strong>Failed to render diagram: </strong>
        {{ importError.message }}
    </div>
    <div  class="btn-group" role="group" style="margin-left:70% ;">
        <button  (click)="saveXmlFile(false, $event, false)" type="button" class="btn btn-outline-secondary">save</button> 
        <button  (click)="saveXmlFile(true, $event, false)" type="button" class="btn btn-outline-secondary">save as draft</button>
        <button  (click)="saveXmlFile(false, $event, true)" type="button" class="btn btn-outline-secondary">save &amp; Start</button>
    </div>
</div>
