<!-- <app-diagram style="height: 100%;width: 100%;"></app-diagram> -->
<div class="diagram-parent" >
    <app-diagram [url]="diagramUrl" (importDone)="handleImported($event)"  ></app-diagram>

</div>
<div class="import-error" *ngIf="importError">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
<div class="io-import-export">

    <ul class="io-import io-control io-control-list io-horizontal">
        <li>
            <form>
                <span class="icon-open">url</span>
                <input type="text" name="urlLink" [(ngModel)]="diagramUrl">
            </form>
       <!-- <button title="open BPMN diagram from local file system" jsaction="click:bio.openLocal">-->
      </li>
        <li>
            <app-file-upload></app-file-upload>
        </li> 
    </ul>
    <ul>    
        <li>
            <button  (click)="saveXmlFile(false)" >save</button>
            <button  (click)="saveXmlFile(true)" >save as draft</button>
        </li>
        <li>
            <file-save-as fileExtension=".bpmn20.xml" contentType="text/xml" [fileContent]="fileData"></file-save-as>
        </li>
    </ul>
</div>