<!-- <app-diagram style="height: 100%;width: 100%;"></app-diagram> -->
<div class="diagram-parent" style="height: 90%;width: 100%;">
    <app-diagram [url]="diagramUrl" (importDone)="handleImported($event)"  [content]="fileData" ></app-diagram>
  
    <div class="import-error" *ngIf="importError">
      <strong>Failed to render diagram: </strong>
      {{ importError.message }}
    </div>
  </div>
  <div class="io-import-export">

    <ul class="io-import io-control io-control-list io-horizontal">
        <li>
            <form>
                <span class="icon-open">url</span>
                <input type="text" name="urlLink" [(ngModel)]="diagramUrl">
            </form>
       <!-- <button title="open BPMN diagram from local file system" jsaction="click:bio.openLocal">-->
      </li>
        <li>
            <app-file-upload></app-file-upload>
        </li> 
    </ul>
    <ul>    
        <li>
            <button  (click)="saveXmlFile()" >save XML</button>

        </li>
        <file-save-as [fileContent]="fileData"></file-save-as>
    </ul>